<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.remoteandroid.apps.qcm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="14"/>
    <permission
        android:description="@string/permission_discover_desc"
        android:label="@string/permission_discover_label"
        android:name="org.remoteandroid.permission.DISCOVER"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="normal" />

    <!-- For receive discover events -->
    <uses-permission android:name="org.remoteandroid.permission.discover.RECEIVE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="org.remoteandroid.permission.contentprovider.QRCODE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".ui.SuscribeActivity"
            android:label="@string/app_name" 
            android:theme="@style/Theme.Sherlock.Light"
            android:configChanges="orientation">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.QCMRemoteActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light"
            android:configChanges="orientation">
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        <service android:name=".services.QCMService">
            
        </service>
        <service android:name=".remote.RemoteQCMService">
            <intent-filter >
                <action android:name="org.remoteandroid.apps.QCM.RemoteService"/>
            </intent-filter>
        </service>
    </application>

</manifest>