<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.remoteandroid.apps.qcm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="14" />

    <permission
        android:name="org.remoteandroid.permission.DISCOVER"
        android:description="@string/permission_discover_desc"
        android:label="@string/permission_discover_label"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="normal" />

    <!-- For receive discover events -->
    <uses-permission android:name="org.remoteandroid.permission.discover.RECEIVE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="org.remoteandroid.permission.contentprovider.QRCODE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".ui.client.SuscribeActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        
        <activity
            android:name=".ui.master.QCMMasterActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.client.ClientStartGame"
            android:configChanges="orientation"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name=".ui.client.WaitingActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name=".ui.master.QuestionActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name=".ui.client.AnswerActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name=".ui.client.ClientResult"
            android:configChanges="orientation"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name=".ui.master.MasterResult"
            android:configChanges="orientation"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name=".ui.client.WinnerRestartScreen"
            android:configChanges="orientation"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name=".ui.client.WinnerStaticScreen"
            android:configChanges="orientation"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <service android:name=".services.QCMMasterService" >
            <intent-filter>
                <action android:name="org.remoteandroid.apps.qcm.START_SERVICE" />
                <action android:name="org.remoteandroid.apps.qcm.REMOTE_START_GAME" />
                <action android:name="org.remoteandroid.apps.qcm.SEND_PLAYER_LIST"/>
            </intent-filter>
        </service>
        <service android:name=".remote.RemoteQCMService" >
            <intent-filter>
                <action android:name="org.remoteandroid.apps.QCM.RemoteService" />
            </intent-filter>
        </service>
        <service android:name=".services.QCMClientService" >
        </service>
    </application>

</manifest>